.box3
  .contacts
    Телефон: 8(950)760-41-91
    %br
    E-mail: 
    = link_to 'info@niksan.ru', 'mailto:info@niksan.ru'
    %br
    Skype:
    = link_to 'niksan_ru', 'skype:niksan_ru?call'
    = link_to 'Заказать сайт', contacts_path, :id => 'order_site'
.clear
