/* line 4, ../../app/stylesheets/posts.scss */
#posts .post {
  margin: 0px 0px 30px 0px;
}
/* line 6, ../../app/stylesheets/posts.scss */
#posts .post h3 {
  font-size: 22px;
  display: block;
  margin: 0px 0px 10px 0px;
}
/* line 10, ../../app/stylesheets/posts.scss */
#posts .post h3 a {
  text-decoration: underline;
}
/* line 12, ../../app/stylesheets/posts.scss */
#posts .post h3 a:hover {
  text-decoration: underline;
}
