#footer
  #copyright<
    &copy; NikSan. 2008&mdash;2011
    %br<
    Телефон: 8(950)760-41-91
    %br<
    Email:
    %a{ :href => 'mailto:info@niksan.ru' }<
      info@niksan.ru
  // Yandex.Metrika counter
  %script{ :src => '//mc.yandex.ru/metrika/watch.js', :type => 'text/javascript' }
  %div{ :style => 'display:none;' }
    %script{ :type => 'text/javascript' }
      try { var yaCounter1704493 = new Ya.Metrika({id:1704493, clickmap:true, trackLinks:true});} catch(e) { }
  %noscript
    %div
      %img{ :src => '//mc.yandex.ru/watch/1704493', :style => 'position:absolute; left:-9999px;', :alt => '' }
  // /Yandex.Metrika counter
