@import "compass/css3/border-radius";

#sites{
	.site_box{
		cursor: pointer;
		width: 170px;
		height: 180px;
		margin: 0px 0px 10px 10px;
		padding: 7px;
		border: solid 1px #b3b3b3;
		float: left;
		@include border-radius(4px, 4px);
		behavior: url(/stylesheets/PIE.htc);
		.site_thumb{
			margin: 2px auto 10px auto;
			width: 170px;
			height: 120px;
			overflow: hidden;
		}
		a.site_name{
			display: block;
			text-decoration: none;	
			text-align: center;
			color: #314c88;
		}
	}
	.active{
		border: solid 1px #6d6d6d;
		box-shadow: 0px 0px 5px #6d6d6d;
		behavior: url(/stylesheets/PIE.htc);
	}
}
img.small_site_img{
	margin: 0px 10px 5px 0px;
}
