/*
*= require_self
*= require_tree ./gritter
*/

@import "compass/reset";
@import "compass/css3/border-radius";

.clear{
  clear: both;
}
a{
  color: #475b88;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}
em{
  font-style: italic;
}
strong{
  font-weight: bold;
}
#header_wrap{
  min-width: 1500px;
  height: 78px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index:2;
  #header{
    height: 70px;
    width: 100%;
    background: #112a48 url(/images/header/bg.jpg) repeat-x;
    a{
      display: block;
      float: left;
      img#logo{
        display: block;
        margin: 20px 0px 0px 15px;
      }
    }
    img#website_development{
      display: block;
      float: left;
      margin: 15px 0px 0px 15px;
    }
    ul#main_menu{
      float: left;
      margin: 0px 0px 0px 40px;
      li{
        display: block;
        height: 70px;
        float: left;
        margin: 20px 0px 0px 0px;
        a{
          display: block;
          font-size: 16px;
          color: #ccc;
          text-decoration: none;
          font-weight: bold;
          font-family: 'Arial';
          text-align: center;
          text-transform: lowercase;
          text-shadow: 0px 1px 0px #000;
          behavior: url(/stylesheets/PIE.htc);
          padding: 6px 0px 0px 0px;
          width: 113px;
          height: 40px;
          &:hover{
            background: url('/images/header/menu_button_bg.png') no-repeat top;
            color: #fff;
          }
        }
        a.active{
          background: url('/images/header/menu_button_bg.png') no-repeat top;
          color: #fff;
        }
      }
    }
  } 
  .bottom_line{
    height: 8px;
    background: url('/images/header/line_bg.png');
  }
}
#wrapper{
  margin: 85px 0px 0px 0px;
  font-family: 'Arial';
  color: #333;
  #content{
    margin: 0px 0px 0px -360px;
    width: 100%;
    float: left;
    input[type=text]{
      border: solid 1px #000;
      @include border-radius(3px, 3px);
      behavior: url(/stylesheets/PIE.htc);
      padding: 2px;
    }
    textarea{
      border: solid 1px #000;
      @include border-radius(3px, 3px);
      behavior: url(/stylesheets/PIE.htc);
      padding: 4px;
    }
    ul{
      margin: 15px 0px 5px 0px;
      li{
        list-style-type: disc;
        margin: 0px 0px 0px 35px;
        color: #444;
        font-size: 14px;
        font-style: italic;
      }
    }
    .box1{
      min-height: 200px;
      margin: 0px 0px 10px 370px;
      border: solid 1px #d0d0d0;
      @include border-radius(6px, 6px);
      behavior: url(/stylesheets/PIE.htc);
      padding: 10px 10px 10px 10px;
      background: #f4faf0;
    }
    .box2{
      min-height: 200px;
      border: solid 1px #d0d0d0;
      @include border-radius(6px, 6px);
      behavior: url(/stylesheets/PIE.htc);
      padding: 10px 10px 10px 10px;
      background: #fff;
      margin: 0px 0px 0px 370px;
      color: #222;
      font-size: 0.9em;
      p{
        margin: 20px 0px 20px 0px;
      }
      h1{
        font-size: 2.0em;
        margin: 0px 0px 20px 10px;
        font-family: 'Times new roman';
        background: url('/images/content/h1_bg.jpg') no-repeat left;
        padding: 5px 0px 0px 18px;
        color: #333;
        a{ color: #333; text-decoration: underline; }
      }
      h2{
        display: inline;
        font-size: 1.6em;
        margin: 0px 0px 15px 10px;
        font-family: 'Times new roman';
        border-bottom: dotted 1px;
        color: #333;
      }
      span.date{
        font-style: italic;
        font-size: 0.8em;
      }
    }
    #tags{
      margin: 15px 0px 10px 0px;
      a.tag{
        padding: 0px 0px 1px 19px;
        margin: 0px 10px 0px 0px;
        background: url('/images/icons/tag.gif') no-repeat top left;
        font-size: 0.9em;
        line-height: 16px;
        color: #555;
        &:hover{
          color: #ff6666;
        }
      }
    }
    #message_form{
      border: solid 1px #ccc;
      @include border-radius(3px, 3px);
      behavior: url(/stylesheets/PIE.htc);
      padding: 20px 10px 10px 10px;
      width: 450px;
      margin: 40px 0px 30px 00px;
      span.header{
        display: block;
        width: 170px;
        text-align: center;
        background: #fff;
        position: absolute;
        margin: -28px 0px 0px 10px;
        font-style: italic;
      }
    }
  }
  #sidebar{
    float: right;
    width: 340px;
    margin: 0px 10px 0px 0px;
    .box3{
      border: solid 1px #d0d0d0;
      @include border-radius(6px, 6px);
      behavior: url(/stylesheets/PIE.htc);
      background: #e8e8e8;
      min-height: 50px;
      width: 300px;;
      margin: 0px 0px 10px 0px;
      padding: 20px 20px 20px 20px;
      span.header{
        display: block;
        margin: 0px 0px 15px 20px;
        color: #6D6D6D;
        font-size: 22px;
      }
      .contacts{
        font-size:18px;
        line-height:24px;
        #order_site{
          display: block;
          height: 40px;
          width: 200px;
          text-align: center;
          @include border-radius(4px, 4px);
          behavior: url(/stylesheets/PIE.htc);
          background: url('/images/sidebar/contacts/order_site_bg.png') repeat-x;
          color: #fff;
          text-decoration: none;
          font-size: 24px;
          padding: 10px 0px 0px 0px;
          margin: 10px 0px 0px 0px;
        }
      }
      #new_sites{
        .site{
          background: #f4f4f4;
          margin: 10px 0px 0px 0px;
          padding:10px;
          text-align: center;
          cursor: pointer;
          a{
            font-size: 0.9em;
            display: block;
            margin: 5px 0px 0px 0px;
            color: #1e6db5;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        #to_portfolio{
          display: block;
          margin: 20px 0px 10px 0px;
          text-align: center;
          font-size: 14px;
          color: #6d6d6d;
          text-decoration: none;
          &:hover{ text-decoration: underline; }
        }
      }
      #last_in_blog{
        .post{
          color: #6d6d6d;
          background: #f4f4f4;
          margin: 10px 0px 0px 0px;
          padding:10px;
          text-align: justify;
          cursor: pointer;
          font-size: 0.7em;
          span.date{
            color: #1e6db5;
            font-size: 0.8em;
          }
          a{
            display: block;
            margin: 0px 0px 0px 0px;
            text-decoration: underline;
            font-weight: bold;
            color: #6d6d6d;
            font-size: 1.2em;
          }
          p{
            margin: 5px 0px 5px 0px
          }
        }
      }
    }
  }
}
#footer{
  margin: 20px 0px 0px 0px;
  font-family: 'Verdana';
  color: #000;
  font-size: 11px;
  height: 50px;
  background: #e7f3f6;
  #copyright{
    float: left;
    width: 200px;
    margin: 7px 0px 0px 10px;
    color: #323232;
    line-heignt: 12px;
    a{
      color: #323232;
    }
  }
  #liveinternet{
    display: block;
    float: right;
    margin: 10px 8px 0px 0px;
  }
}
