@import "compass/css3/border-radius";

#buttons_menu{
  .wrapper{
    float: left;
    width: 33.33%;
    .button{
      cursor: pointer;
      margin: 10px;
      text-align: center;
      border: solid 2px #f4faf0;
      img{
        display: block;
        margin: 10px auto 10px auto;
      }
      a{
        color: #333;
        display: block;
        margin: 0px 0px 20px 0px;
        text-decoration: none;
        font-size: 18px;
      }
    }
    .button.active{
      background: #e5f8d9;
      border: solid 2px #fff;
      @include border-radius(10px, 10px);
    }
  }
}
